{% load i18n %}

<span id="pagination" class="paginator">
{% if show_first %}
    <span class="prev">
        <a href="?page=1" title="{% trans "First Page" %}">{% trans "First" %}</a>
    </span>
{% endif %}

{% if has_previous %}
    <span class="prev">
        <a href="?page={{ previous }}" title="{% trans "Previous Page" %}"><< {% trans "Previous" %}</a>
    </span>
{% else %}
    <span class="prev-na">{% trans "Previous" %}</span>
{% endif %}

{% for num in page_numbers %}
    {% ifequal num page %}
        <span class="curr" title="{% trans "Current Page" %}">{{ num }}</span>
    {% else %}
        <span class="page">
            <a href="?page={{ num }}" title="{% trans "Page" %} {{ num }}">{{ num }}</a>
        </span>
    {% endifequal %}
{% endfor %}

{% if has_next %}
    <span class="next">
        <a href="?page={{ next }}" title="{% trans "Next Page" %}">{% trans "Next" %} >></a>
    </span>
{% else %}
    <span class="next-na">{% trans "Next" %}</span>
{% endif %}

{% if show_last %}
    <span class="next">
        <a href="?page={{ pages }}" title="{% trans "Last Page" %}">{% trans "Last" %}</a>
    </span>
{% endif %}<!--
    <br />
    <br />
        <span class="desc">
        Showing <span class="footnum">{{ results_per_page }}</span> results per page of about <span class="footnum">{{ hits }}</span> results in <span class="footnum">{{ pages }}</span> pages
        Her sayfada <span class="footnum">{{ results_per_page }}</span> kayıt olmak üzere <span class="footnum">{{ pages }}</span> sayfada toplam <span class="footnum">{{ hits }}</span> kayıt listeleniyor.-->
        </span>
</span>
